#example {

    border: 4px solid red;

}

#example p {
    color: red;
    font-size: 30px;
}

/*

==========================================
*/

#example2 {

    border: 4px solid red;

}

#example2 > p {
    color: red;
    font-size: 30px;
}


